In [ ]:
# Continuation list Datatypes. Organizing the list datatypes.
2 different types 1.Temparary aprouch 2. Perminent aprouch

In [ ]:
#Req.I want to organize the list in A-Z order how?

In [2]:
cars=['benz','audi','bmw','maruthi','kia','hyundai']

In [3]:
print(cars)

['benz', 'audi', 'bmw', 'maruthi', 'kia', 'hyundai']

In [ ]:
#Req. I want to get the out put in alphabetical order -->A-Z

In [ ]:
#1.Temparary aprouch --> sorted--we can get the original oder of the list initially.
 2. Perminent aprouch --> sort-- changes are implied perminanty.

In [ ]:
cars=['benz','audi','bmw','maruthi','kia','hyundai']

In [4]:
print(sorted(cars))  # A-Z order by the same list

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [5]:
print(cars)   #no change in original order (1.temparary approuch)

['benz', 'audi', 'bmw', 'maruthi', 'kia', 'hyundai']

In [6]:
cars.sort()

In [7]:
print(cars)   # (2. perminent approuch even thought if u print again it won't change the list order )

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [ ]:
#how to print the list in reverse order:-

In [9]:
print(cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [11]:
cars.reverse()  #to print list in reverse order

In [12]:
print(cars)

['maruthi', 'kia', 'hyundai', 'bmw', 'benz', 'audi']

In [ ]:
#Req. I want to know the count os the no. of elements in the list ?
  we use "len()" for the count.

In [15]:
print(cars)

['maruthi', 'kia', 'hyundai', 'bmw', 'benz', 'audi']

In [17]:
len(cars)

6

In [19]:
cars.reverse()
print(cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [20]:
len(cars)

6

In [ ]:
# introduction to slicing of list:- (slicing=dividing/cutting)

In [ ]:
#students=['raj', 'indu', 'kumar', 'chandana', 'ram']

In [21]:
students=['ravi','abdul','naveen','kumar','ruksana','simran','keerthi','kalpana']

In [ ]:
#syntax of slicing

In [ ]:
startvalue:stopvalue:stepcount

In [ ]:
stopvalue/lastalue is always exclusive

In [ ]:
#Req. I want to 'ravi' and 'abdul' in the below list o/p?

In [ ]:
students=['ravi','abdul','naveen','kumar','ruksana','simran','keerthi','kalpana']

In [22]:
print(students)

['ravi', 'abdul', 'naveen', 'kumar', 'ruksana', 'simran', 'keerthi', 'kalpana']

In [25]:
print(students[0:1])

['ravi']

In [23]:
print(students[1:2])

['abdul']

In [ ]:
# if you want to include the stopvalue incrment index by +1.

In [26]:
print(students[0:2])

['ravi', 'abdul']

In [ ]:
#Req. i want to the o/p 'naveen' and 'kumar' ?

In [27]:
print(students[2:4])

['naveen', 'kumar']

In [ ]:
#Req. i want to get alternate names as o/p in above list?
# list has 8 no. of students.

In [29]:
print(students[0:8:2])   #stepcount

['ravi', 'naveen', 'ruksana', 'keerthi']

In [30]:
print(students[0:8:1])

['ravi', 'abdul', 'naveen', 'kumar', 'ruksana', 'simran', 'keerthi', 'kalpana']

In [31]:
print(students[0:8:3])

['ravi', 'kumar', 'keerthi']

In [32]:
print(students[1:9:2])

['abdul', 'kumar', 'simran', 'kalpana']

In [33]:
print(students[0:9:4])

['ravi', 'ruksana']

In [34]:
print(students[0:8:8])

['ravi']

In [35]:
print(students[0:8:5])

['ravi', 'simran']

In [ ]:
S